﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Student</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Student", "Index", "Student")</a></li>
            <li><a href="#">@Html.ActionLink("StudentCV", "Index", "StudentCVs")</a></li>
            <li><a href="#">@Html.ActionLink("Certify", "Index", "Certify")</a></li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Manager</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Manager", "Index", "Manager")</a></li>
            <li><a href="#">@Html.ActionLink("User Permission", "Index", "UserPermissions")</a></li>
            <li><a href="#">@Html.ActionLink("Function", "Index", "Function")</a></li>
            <li><a href="#">@Html.ActionLink("Email Template", "Index", "EmailTemplate")</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Training</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Training Program", "Index", "TrainingPrograms")</a></li>
            <li><a href="#">@Html.ActionLink("Training Manager", "Index", "TrainingManager")</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Project Intern</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Project Intern", "Index", "ProjectInterns")</a></li>
            <li><a href="#">@Html.ActionLink("Project Intern Manager", "Index", "ProjectInternManagers")</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Project</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Project", "Index", "Project")</a></li>
            <li><a href="#">@Html.ActionLink("Project Manager", "Index", "ProjectManager")</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Internship</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Internship", "Index", "Internships")</a></li>
            <li><a href="#">@Html.ActionLink("Create Internship", "Create", "Internships")</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Contact</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Contact", "Index", "Contact")</a></li>
        </ul>
    </li>
</ul>