﻿@model Repository.Models.TrainingManager

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TrainingManager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Internship.InternshipName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Internship.InternshipName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manager.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manager.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stage.StageContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stage.StageContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainingProgram.TrainingContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainingProgram.TrainingContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssertmentContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssertmentContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainingManagerID }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</p>
