﻿@model Repository.Models.EmailTemplate

@{
    /**/

    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Email Template</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body4)
        </dd>        

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input onclick="JavascriptFunction();" type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info", onclick = "JavascriptFunction();" })
        </div>
    }
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 50%; color: White;">
        <img src="~/img/ajax-loader (1).gif"><br />Please Wait...
    </p>
</div>

<script type="text/javascript" language="javascript">
    function JavascriptFunction() {
        var url = '@Url.Action("Delete", "TrainingManager")';
        $("#divLoading").show();
        $.post(url, null,
                function (data) {
                    $("#PID")[0].innerHTML = data;
                    $("#divLoading").hide();
                });
    }
</script>
