﻿@model IEnumerable<Repository.Models.ProjectManager>

@{
    /**/

    ViewBag.Title = "List of Project Managers";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<center>
    <br />
    <h2>Project Manager</h2>
    <br />
    <br />
</center>

<style>
    .scrolll {
        overflow-x: auto;
    }
</style>
<div class="scrolll">
    <table id="projectmanager" class="tableStyle1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Manager.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastUpdated)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
                <td>
                    @Html.ActionLink(" ", "Details", new { id = item.ProjectManagerID }, new { @class = "glyphicon glyphicon-eye-open", onclick = "JavascriptFunction();" })
                </td>
            </tr>
        }

    </table>
</div>
<link href="/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts
{
    <script src="/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#projectmanager").DataTable();
        });
    </script>
    <style>        

        .tableStyle1 {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: auto;
        }
            /*Style for Table Head - TH*/
            .tableStyle1 th {
                text-align: left;
                background-color: #8b1dba;
                color: #fff;
                text-align: left;
                padding: 25px;
            }
            /*TD and TH Style*/
            .tableStyle1 td, .tableStyle1 th {
                border: 1px solid #dedede; /*Border color*/
                padding: 15px;
            }
            /*Table Even Rows Styles*/
            .tableStyle1 tr:nth-child(even) {
                background-color: #EFF1F1;
            }
            /*Table ODD Rows Styles*/
            .tableStyle1 tr:nth-child(odd) {
                background-color: #E3EDED;
            }            
    </style>
    <script>
        $(document).ready(function () {
            var table = $('#projectmanager').DataTable();

            $('#projectmanager tbody')
                .on('mouseenter', 'td', function () {
                    var colIdx = table.cell(this).index().column;

                    $(table.cells().nodes()).removeClass('highlight');
                    $(table.column(colIdx).nodes()).addClass('highlight');
                });
        });
    </script>
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 50%; left: 50%; color: White;">
            <img src="~/img/ajax-loader (1).gif"><br/>Please Wait...
        </p>
    </div>

    <script type="text/javascript" language="javascript">
    function JavascriptFunction() {
        var url = '@Url.Action("Edit", "Student")';
        $("#divLoading").show();
        $.post(url, null,
                function (data) {
                    $("#PID")[0].innerHTML = data;
                    $("#divLoading").hide();
                });
    }
    </script>
}
