﻿@model Repository.Models.ProjectManager

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
@Html.AntiForgeryToken()
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Project Managers
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Add Project Manager</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form class="form-horizontal" method="post" action="Create">
            <div class="box-body">

                <div class="form-group">
                    @Html.LabelFor(model => model.ProjectID, "Project ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.ProjectID, new SelectList(Model.ProjectCollection, "ProjectID", "ProjectName"), "-Choose One-", new { required = "required" })
                        @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ManagerID, "ManagerID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.ManagerID, new SelectList(Model.ManagerCollection, "ManagerID", "Name"), "-Choose One-", new { required = "required" })
                        @Html.ValidationMessageFor(model => model.ManagerID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(m => m.StudentID, new SelectList(Model.StudentCollection, "StudentID", "Name"), "-Choose One-", new { required = "required" })
                        @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Create</button>
            </div>
            <div>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
            </div>
            <!-- /.box-footer -->
        </form>
    </div>
    <!-- /.box -->
</section>