﻿@model IEnumerable<Repository.Models.Student>

@{
    /**/

    ViewBag.Title = "List of Students";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<style>
    td.highlight1 {
        background-color: #B961C3 !important;
    }

    .tableStyle1 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: auto;
    }
        /*Style for Table Head - TH*/
        .tableStyle1 th {
            text-align: left;
            background-color: #8b1dba;
            color: #fff;
            text-align: left;
            padding: 25px;
        }
        /*TD and TH Style*/
        .tableStyle1 td, .tableStyle1 th {
            border: 1px solid #dedede; /*Border color*/
            padding: 15px;
        }
        /*Table Even Rows Styles*/
        .tableStyle1 tr:nth-child(even) {
            background-color: #EFF1F1;
        }
        /*Table ODD Rows Styles*/
        .tableStyle1 tr:nth-child(odd) {
            background-color: #E3EDED;
        }
        /*Table Row HOver Style*/
        .tableStyle1 tr:hover {
            background-color: #B961C3;
        }
</style>
<center><h2>List of Certify</h2></center>

<style>
    .scrolll {
        overflow-x: auto;
    }
</style>
<div class="scrolll">
    <table id="student" class="tableStyle1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Info)
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.StudentID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })*@
                    @Html.ActionLink(" ", "PrintCertify", new { id = item.StudentID }, new { @class = "glyphicon glyphicon-check", onclick = "JavascriptFunction();" })

                </td>
            </tr>
        }
    </table>
</div>
<link href="/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts
{
    <script src="/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#student").DataTable({

            });

            //$("tr:even").css("background-color", "#EFF1F1");
            //$("tr:odd").css("background-color", "#BAD1D1");

        });
    </script>
    <script>
        $(document).ready(function () {
            var table = $('#student').DataTable();

            $('#student tbody')
                .on('mouseenter', 'td', function () {
                    var colIdx = table.cell(this).index().column;

                    $(table.cells().nodes()).removeClass('highlight');
                    $(table.column(colIdx).nodes()).addClass('highlight');
                });
        });
    </script>
    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 50%; left: 50%; color: White;">
            <img src="~/img/ajax-loader (1).gif"><br />Please Wait...
        </p>
    </div>

    <script type="text/javascript" language="javascript">
    function JavascriptFunction() {
        var url = '@Url.Action("Index", "Student")';
        $("#divLoading").show();
        $.post(url, null,
                function (data) {
                    $("#PID")[0].innerHTML = data;
                    $("#divLoading").hide();
                });
    }
    </script>
}