﻿<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Student</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Self Infomation", "Index", "StudentManagerForStudents")</a></li>
            <li><a href="#">@Html.ActionLink("Change Password", "Index", "ChangePassword")</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>Interns</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">@Html.ActionLink("Training Program", "Index", "TrainingManagerForStudents")</a></li>
            <li><a href="#">@Html.ActionLink("Project Intern", "Index", "ProjectInternManagerForStudents")</a></li>
            <li><a href="#">@Html.ActionLink("Real Project", "Index", "ProjectManagerForStudents")</a></li>
        </ul>
    </li>
    
</ul>
