﻿@model Repository.Models.UserPermission

@{
    /**/

    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User Permission</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserPermissionID)

        <div class="form-group">
            @Html.LabelFor(model => model.Username, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Username, new SelectList(Model.LoginCollection, "Username", "Username"), "-Vui lòng lựa chọn-")
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FunctionID, "FunctionID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.FunctionID, new SelectList(Model.FunctionCollection, "FunctionID", "FunctionName"), "-Vui lòng lựa chọn-")
                @Html.ValidationMessageFor(model => model.FunctionID, "", new { @class = "text-danger" })

            </div>
        </div>





        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input onclick="JavascriptFunction();" type="submit" value="Save" class="btn btn-info" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info", onclick = "JavascriptFunction();" })
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 50%; color: White;">
        <img src="~/img/ajax-loader (1).gif"><br />Please Wait...
    </p>
</div>

<script type="text/javascript" language="javascript">
    function JavascriptFunction() {
        var url = '@Url.Action("Edit", "Student")';
        $("#divLoading").show();
        $.post(url, null,
                function (data) {
                    $("#PID")[0].innerHTML = data;
                    $("#divLoading").hide();
                });
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}