﻿@model Repository.Models.StudentCV

@{
    /**/

    ViewBag.Title = "Check CV";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<h2>Check CV</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>StudentCV</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @*@Html.HiddenFor(model => model.KnowUsID)
        @Html.HiddenFor(model => model.FrameworkUse)
        @Html.HiddenFor(model => model.Problem)
        @Html.HiddenFor(model => model.ExAppAlone)
        @Html.HiddenFor(model => model.ExAppTeam)
        @Html.HiddenFor(model => model.SpecializeID)*@
    @Html.HiddenFor(model => model.InternStartDate)

    <div class="form-group">
        @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StudentID, new { htmlAttributes = new { @class = "text-box single-line readonly", @readonly = "readonly", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required", type = "email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Male
            @Html.RadioButtonFor(model => model.Gender, "Male")
            Female
            @Html.RadioButtonFor(model => model.Gender, "Female")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KnowUsID, "KnowUsID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.KnowUsID, new SelectList(Model.KnowUCollection, "KnowUsID", "KnowUsName"), "-Choose One-", new { required = "required" })
            @Html.ValidationMessageFor(model => model.KnowUsID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FrameworkUse, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FrameworkUse, new { htmlAttributes = new { @class = "text-box single-line readonly", @readonly = "readonly", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.FrameworkUse, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Problem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Problem, new { htmlAttributes = new { @class = "text-box single-line readonly", @readonly = "readonly", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Problem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExAppAlone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ExAppAlone, new { htmlAttributes = new { @class = "text-box single-line readonly", @readonly = "readonly", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.ExAppAlone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SpecializeID, "SpecializeID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SpecializeID, new SelectList(Model.SpecializeCollection, "SpecializeID", "Specializename"), "-Choose One-", new { required = "required" })
            @Html.ValidationMessageFor(model => model.SpecializeID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Intro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Intro, new { htmlAttributes = new { @class = "text-box single-line readonly", @readonly = "readonly", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Intro, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ExpectedLocationID, "ExpectedLocationID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ExpectedLocationID, new SelectList(Model.ExpectedCollection, "ExpectedLocationID", "ExpectedLocationName"), "-Choose One-", new { required = "required" })
            @Html.ValidationMessageFor(model => model.ExpectedLocationID, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.InternStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InternStartDate, new { htmlAttributes = new { @class = "text-box single-line readonly", @readonly = "readonly", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.InternStartDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.ExAppTeam, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ExAppTeam, new { htmlAttributes = new { @class = "text-box single-line readonly", @readonly = "readonly", disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.ExAppTeam, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Process
            @Html.RadioButtonFor(model => model.Status, "Process")
            Accept
            @Html.RadioButtonFor(model => model.Status, "Accept")
            Cancel
            @Html.RadioButtonFor(model => model.Status, "Cancel")
        </div>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.InterviewSchedule, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.InterviewSchedule, new { htmlAttributes = new { @class = "form -control" } })
            @Html.ValidationMessageFor(model => model.InterviewSchedule, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input onclick="JavascriptFunction();" type="submit" value="Accept" class="btn btn-info" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info", onclick = "JavascriptFunction();" })
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 50%; color: White;">
        <img src="~/img/ajax-loader (1).gif"><br />Please Wait...
    </p>
</div>

<script type="text/javascript" language="javascript">
    function JavascriptFunction() {
        var url = '@Url.Action("Edit", "StudentCVs")';
        $("#divLoading").show();
        $.post(url, null,
                function (data) {
                    $("#PID")[0].innerHTML = data;
                    $("#divLoading").hide();
                });
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}